:root {
  --main-purple-color: #5c48f1;
  --elements-background-color: #eeecfd;
  --element-border-color: #e0e0e1;
  --main-padding: 10px;
  --color-logo: #2196f3;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
  /* background-color: black; */
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}
.parent-01 {
  border: 1px solid #eee;
  max-width: 900px;
  margin: 24px auto 50px auto;
}
.parent-01 .header {
  background-color: var(--elements-background-color);
  color: var(--main-purple-color);
}
.parent-01 .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
.parent-01 .boxes .box {
  border: solid 3px var(--element-border-color);
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.parent-01 .boxes .box .text {
}
.parent-01 .boxes .box .text i {
  font-size: 50px;
  color: var(--main-purple-color);
  margin-top: 10px;
}
.parent-01 .boxes .box .check{

}
.parent-01 .boxes .box .check input[type="checkbox"]{
  -webkit-appearance: none;
  appearance: none;
}
.parent-01 .boxes .box .check label{
  cursor: pointer;

}
.parent-01 .boxes .box{

  
  /*  */
  /*  */
  /*  */
  /*  */
}
.parent-01 .boxes .box .check label::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: solid var(--element-border-color) 1px;
  border-radius: 4px;
  left: 6px;
}
.parent-01 .boxes .box .check label::after{
    content: "";
    width: 11px;
    height: 11px;
    position: absolute;
    background-color: rgb(92 72 241 / 30%);
    left: 9px;
    top: 8px;
    border-radius: 3px;
    /* display: none; */
}
.parent-01 .boxes .box .check input[type="checkbox"]:hover + label::after{
  transform: rotate(1deg);
  display: block;
}
.parent-01 .boxes .box .check input[type="checkbox"]:checked + :after{
  background-color: var(--main-purple-color);
  transition: .3s;
}
.parent-01 .boxes .box .check input[type="checkbox"]:checked + ::before{
  border-color: var(--main-purple-color);
}
.parent-01 .boxes .box:hover .check input[type="checkbox"]+ label::before{
  border: solid var(--main-purple-color) 1px;
  transition: .3s;
}
/* start problem 02 */
:root{
  --main-color:#51509b;
  --boton-color:#ffc54f;
  --last-color:#ffeabe;
  --text-color:#4a5568;
}
.parent-02{
  background-color: var(--main-color);
  color: var(--text-color);
}
.parent-02 .container i{
  color: var(--boton-color);
}
.parent-02 .container h2{
  color: var(--text-color);
  position: relative;
  z-index: 5;
}
.parent-02 .container h2:before{
  content: "";
  position: absolute;
  width:calc(100% + 1px);
  left: -1px;
  height: 8px;
  background-color: var(--last-color);
  bottom: 0;
  z-index: -1;
}
.parent-02 .container .buy{
  background-color: var(--boton-color);
  padding: 10px 15px;
}
.parent-02 .premium-package{
  box-shadow: 0px 0px 7px 1px;
  z-index: 5;
}
.parent-02 .container .tool li,
.essentials-package li{
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1.8;
}
.parent-02 .container .tool li:hover,
.essentials-package li:hover{
  background-color: #f8f7f6c8;
  transition: .3s;
}
.parent-02 .container .tool li:not(:last-child),
.essentials-package li:not(:last-child){
  border-bottom: solid 2px rgb(74 85 104 / 10%);
}
.parent-02 .essentials-package{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.parent-02 .text i,
.parent-02 .essentials-package .shope i{
  top: -10px;
  position: relative;
  color: var(--text-color);
}
.parent-02 .buy:hover{
  background-color: #e5af40;
  transition: .3s;
}
@media (max-width:991px){
  .parent-02 .container .content{
    flex-direction: column;
  }
  .parent-02 .premium-package {
    box-shadow: 0px 2px 7px 1px;
    z-index: 5;
  }
  .parent-02 .essentials-package{
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }
  }
  @media (max-width:767px){
    .parent-02 .container .content{
      gap: 10px;
    }
    .parent-02 .premium-package{
      padding: 20px;
    }
    .parent-02 .essentials-package{
      padding: 20px;
      border-radius: 10px;
    }
  }
/* end problem 02 */
/* start problem 03 */
:root{
  --parpel-color:#f53f4c;
  --second-color:#f88992;
}
.parent03{  

}
.parent03 .boxes{  
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent03 .boxes .box h1{  
  line-height: 1.4;
  font-size: 35px;
  max-width: 400px;
}
.parent03 .boxes .box p{
  max-width: 500px;
  line-height: 1.8;
}
.parent03 .boxes .box .image{
  position: relative;

}
.parent03 .boxes .box .image::before{
  content: "";
  position: absolute;
  width: 79%;
  height: 110%;
  border: solid var(--second-color) 10px;
  padding: 25px;
  left: 0;
  top: -22%;
}
.parent03 .boxes .box img{  
  position: relative;
  left: -66px;
  max-width: 400px;
}
.parent03 .boxes .box .span-01{
  color: var(--parpel-color);
}
.parent03 .boxes .box .span-01::before{
  content: "";
  width: 9px;
  height: 9px;
  position: absolute;
  left: -49px;
  bottom: 3px;
  border: solid var(--parpel-color) 2px;
}
.parent03 .boxes .box .span-01::after{
  content: "";
  position: absolute;
  left: -44px;
  bottom: 8px;
  width: 32px;
  height: 2px;
  background-color: var(--parpel-color);
}
.parent03 .boxes .box-02{
  
}
.parent03 .boxes .box-02 .quib-shape .box{
  border: solid 3px #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  height: 180px;
  max-height: 100%;
  margin-top: 20px;
}
.parent03 .boxes .box-02 .quib-shape .box::before{
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  width: 0px;
  height: 0;
  border-style: solid;
  border-color: var(--parpel-color) var(--parpel-color) transparent transparent;
  border-width: 15px;
}
.parent03 .boxes .box-02 .quib-shape{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.parent03 .boxes .box-02 .quib-shape .box .image-and-text img{
  max-width: 80px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  margin-bottom: 20px;
  top: 10px;
}
.parent03 .boxes .box-02 .quib-shape .box .image-and-text p{
  color: #333333;
  text-align: center;
  top: -15px;
  position: relative;
}
.parent03 .boxes .box-02 .quib-shape .box .image-and-text span{
  font-size: 60px;
  font-weight: bold;
  color: #eee;
  z-index: -1;
  top: 8px;
  position: relative;
}
/* end problem 03 */
/* start problem 04 */
:root{
  --bg-04:#eeeeee;
  --main-04:#3b74ba;
}
.parent-04{
  background-color: var(--bg-04);
}
.parent-04 .container {
  flex-direction: column;
}
.parent-04 img{
  z-index: 1;
}
.parent-04 .box{
  top: -25px;
}
.parent-04 .box .text{
  border-bottom: solid 2px #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.parent-04 .box .text h1{
  color: var(--main-04);

}
.parent-04 .box .sotioal ul{
  min-width: 350px;
}
/* end problem 04 */